<!DOCTYPE html>
<!-- 
    Name: Victor Lor 
    Date: 01.29.2025
    CSC 372-01

    This is the index.html page for my homework assignment 2. 
    This page will also contain a link to pie.html.
-->
<html lang="en">

<head>
    <link rel="stylesheet" href="../assets/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Granny's Pie</title>
</head>

<body>
    <h1>Granny's Pie</h1>
    <h2>Welcome to Our New Website!</h2>
    <p>As our website is still being updated and
        refined for your taste, certain services may not available,
        such as recipes for all of our pies.
        Sorry for the inconvience.</p>
    <div id="container">
        <div class="info-container">
            Our Recipes:
            <ul>
                <li><a href="./pie.html">Lemon Meringue Pie</a></li>
                <li> Apple Pie</li>
                <li>Pecan Pie</li>
                <li>Blueberry Pie</li>
                <li>Cherry Pie</li>
                <li>Pumpkin Pie</li>
            </ul>
        </div>
        <div class="info-container">
            <u>Contact Us:</u><br>
            1236 Bakery Dr,<br>
            Greensboro, NC 27403<br>
            <br>
            <u>Give us a Call: </u><br>
            (336)828-0683
    
        </div>
    </div>
    
</body>

</html>