<!DOCTYPE html>
<html lang="en">
<!--
    Name: Victor Lor
    Date: 2.23.2025

    This is the index.html page for my 372 term project. The website is called Tanks for 
    Fish, which is a website to buy products related to fish keeping.
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Tanks For Fish</title>
    <link rel="icon" id="icon" href="../assets/images/fish_tank3.jpg" type="image/x-icon">
    <link href="../assets/css/template.css" rel="stylesheet">
    <link href="../assets/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="tff-nav">
            <a class="navbar-brand  tff-logo" href="index.html">
                <img id="tanks-for-fish-logo" src="../assets/images/fish_tank3.png" alt="fish for tanks">
            </a>
            <div class="container-fluid">
                <a class="navbar-brand title" id="single-day-regular-id" href="index.html">Tanks For Fish</a>
                <form class="d-flex search" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success nav-search-button" type="submit">Search</button>
                </form>
                <a id="cart" href="cart.html"><img id="shopping-cart" alt="shopping cart" src="../assets/images/shopping_cart.png"> View My Cart</a>
            </div>
        </nav>
    </header>
    <main>
        <div id="hook-container">
            <div id="hook">
                <p class="single-day-regular hook-title">Welcome to Tanks For Fish!</p>
                Tanks For Fish is a family-friendly, eco-friendly, and affordable fish tank
                store. We specialize in providing the perfect fish tank for your
                fish, from beginner to advanced.
            </div>
        </div>
        <div id="main-content-container">
            <div id="main-content-left">
                <p>What you can expect <br> to find in-store: </p> 
                <ul>
                    <li>Fish tanks</li>
                    <li>Filters & filter <br>media</li>
                    <li>Substrates</li>
                    <li>Electricals</li>
                    <li>Food</li>
                </ul>
            </div>
            <div id="main-content">
                <p class="single-day-regular hook-title">Dive In Today!</p>
                Tanks For Fish has all your essentials for setting up your first tank.
                We have affordable prices so that you can keep your fish happy and healthy.
                It can be overwhelming if you are a first time fish owner, that why we are here for you!
                We can provide guidance and give tips to point you in the right direction.
                <p id="main-poem-intro">Many people think that owning a fish is boring, but you will come to find the
                    joy of having a fish.</p>
                <p id="main-thanks">T(h)anks for taking care of your fish!</p>
                <p id="product-link">Click <a href="products.html">here</a> to see our products!</p>
                <img id="happy-fish" src="../assets/images/decor/happy-fish.png" alt="smiling fish">
            </div>
            <div id="main-content-right">
                Special Deals for
                Qualifying Items
                (in-store only)
            </div>
        </div>
 <p id="temp-link">This is the temporary link the the admin page <a href="./admin/admin.html">HERE</a></p>
    </main>
    <aside id="aside-container">

    </aside>
    <footer>
        1201 Battleground Ave, Greensboro, NC 27408
    </footer>

</body>

</html>