<!DOCTYPE html>
<!--
    Name: Victor Lor
    Date: 2.15.2025

    This is the index.html page for Assignment 3. This page will contain links
    to stores.html to view the nearby stores and meal-plan.html to create a meal
    plan from the recommended stores. 
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dine on Campus</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <h1>Dine on Campus</h1>
        <h2>Discover the best food near campus</h2>
    </header>
    <main>
        <section id="hook">
            <p> It can be difficult to decide where to get food especially if you are new to the area.
                Looking for places to hang out and try new food with your friends? Or maybe you want to try new food to
                spice things up a bit. We have a list of the best restaurants near campus all within walking distance.
                Our
                curated choices ensure you get the most out of your money.</p>
        </section>
        <section id="links">
            <p>Click <a href="stores.html">here</a> to browse some stores or <a href="meal-plan.html">here</a> to create
                a meal plan.</p>
        </section>
    </main>
</body>

</html>